<script src="js/getUserName.js"></script>

<div class="row">
    <form class="col s12" action='/search' method="post">
      <div class="row" id="searchBar">
        <div class="input-field col s12">
          <input id="textarea1" class="materialize-textarea" name="searchInput"></input>
          <label for="textarea1"></label>
             <input id="searchBtn" class="waves-effect waves-light btn" value="Search!" type="submit"></input>
        </div>
      </div>
    </form>
  </div>
<div class="row">
<div id="articlesContainer"></div>
</div>  
<script src="js/buildArticlesFromJSON.js"></script>
<script src="js/postThatArticle.js"></script>
<script src="js/home.js"></script>
