
  <div class="buttonRow">
    <a class='btn waves-effect waves-light' id="loginTab">Login</a>
    <a class='btn waves-effect waves-light' id="registerTab">Register</a>
  </div>
  <div class="login-forms">
  <div class="row">
      <form class="col s12" action='/' method='post' id='loginForm' state="out">
            <div class="row">
                <h3 style="color: black;">Login</h3>
                <div class="input-field col s10">
            <input name="logusername" type="text" class="validate" required="">
            <label>Username</label>
          </div>
          <div class="input-field col s10">
            <input name='logpassword' type="password" class="validate" required="">
            <label for="icon_telephone">Password</label>
          </div>
          <div class="col s4">
              <input type="submit" value="Login" class="btn waves-effect waves-light">
          </div>
        </div>
  </form>
  </div>
  <div class="row right">
      <form class='col s12' action='/' method='post' id='registerForm' state="out">
        <div class="row">
            <h3 style="color: black;">Register A User</h3>
          <div class="input-field col s10">
            <input name='username' type="text" class="validate">
            <label>Username</label>
          </div>
          <div class="input-field col s10">
            <input name='password' type="password" class="validate">
            <label>Password</label>
          </div>
            <div class="input-field col s10">
            <input name='confirmPassword' type="password" class="validate">
            <label>Retype Password</label>
          </div>
          <div class="col s4">
          <input type="submit" value="Register" class="btn waves-effect waves-light">
          </div>
        </div>
      </form>
    </div>
  </div>
<script src='js/login.js'></script>