<div class="row">
    <form class="col s12" action='/' method='post'>
          <div class="row">
              <h3 style="color: black;">Login</h3>
              <div class="input-field col s10">
          <input name='loginUsername' type="text" class="validate">
          <label>Username</label>
        </div>
        <div class="input-field col s10">
          <input name='loginPassword' type="password" class="validate">
          <label for="icon_telephone">Password</label>
        </div>
        <div class="col s4">
            <input type="submit" value="Login">
        </div>
      </div>
</form>
</div>
<div class="row">
    <form class='col s12' action='/' method='post'>
      <div class="row">
          <h3 style="color: black;">Register A User</h3>
        <div class="input-field col s10">
          
          <input name='username' type="text" class="validate">
          <label>Username</label>
        </div>
        <div class="input-field col s10">
          
          <input name='password' type="password" class="validate">
          <label>Password</label>
        </div>
         <div class="col s4">
        <input type="submit" value="Register">
        </div>
      </div>
    </form>
</div>