<form class="col s12" action='/' method='post'>
      <div class="row">
          <h3>Login</h3>
        <div class="input-field col s6">
          <input id="icon_prefix" name='loginUsername' type="text" class="validate">
          <label for="icon_prefix">Username</label>
        </div>
        <div class="input-field col s6">
          <input id="icon_telephone" name='loginPassword' type="password" class="validate">
          <label for="icon_telephone">Password</label>
        </div>
            <input type="submit" value="Login">
      </div>
</form>
<form class="col s12" action='/' method='post'>
      <div class="row">
          <h3>Register A User</h3>
        <div class="input-field col s6">
          
          <input id="icon_prefix" name='username' type="text" class="validate">
          <label for="icon_prefix">Username</label>
        </div>
        <div class="input-field col s6">
          
          <input id="icon_telephone" name='password' type="password" class="validate">
          <label for="icon_telephone">Password</label>
        </div>
        <input type="submit" value="Register">
      </div>
</form>