<script src="js/getUserName.js"></script>
<script src="js/savedArticles.js"></script>
<div id="savedArticleContainer">
    <div id="modal1" class="modal">
    <div class="modal-content">
      <h5>Post a comment on this Article</h5>
      <input type="text" id='commentBody'></input>
    </div>
    <div class="modal-footer">
      <a href="#!" id='postCommentBtn' class="modal-close waves-effect waves-green btn-flat">Post Now!</a>
    </div>
  </div>
</div>