#0f1e32
#5886af
#f4fafd
#eac77d
#b47b44

html{
    background-color: #f4fafd !important;
}
nav{
    background-color: #5886af;
}

#searchBar{
    margin-bottom: 20px;
    margin-top: 20px;
}

.input-field input:focus + label {
    color: #FF8300  !important;
  }

.row .input-field input:focus {
    border-bottom: 1px solid #FF8300 !important;
    box-shadow: 0 1px 0 0 #FF8300 !important;
}

.btn{
    background-color: #FF8300;
    color: black;
}

.btn:hover{
    background-color: #FFA546;
}

#articleEntry{
    background-color: #205788 !important;
}

.articleLink{
    color: black !important;
    background-color: #FF8300;
    margin-bottom: 12px
}

.login-forms{
    position: absolute;
    background-color: #f4f4fd;
    top: 100px;
    left: 80px; 
    transition: ease all 1s;  
}




/* .show{
  
}

.hide{
   
} */


#savedArticleContent{
    background-color: #B3CFE7;
    transition: ease all .5s;
}

#savedArticleLinkArea{
    background-color: #E2EEF9;
    height: 82px;
}

#savedArticleContent:hover{
    background-color: #E2EEF9;
}

.btn-floating{
    transition: ease all .5s; 
}

.btn-floating:hover{
    transform: scale(1.08);
}
.btnArea:hover .btn-floating:not(:hover){
    transform: scale(.94);
}

.publicationName{
    color: white !important;
    font-weight: bold;

}

.saveArticleBtn{
    background-color: #FF8300;
}

.saveArticleBtn:hover{
    background-color: #FFA546;
}

#savedArticleLink{
    color: black;
}

#savedArticleLink:hover{
    color: #b47b44;
}

.collapsible-body{
    transition: ease all .5s; 
}

.viewCommentsBtn > li > .collapsible-body:hover{
    transform: scaleX(1.05);
}

.usernameForComment{
    font-size: 24px;
}


#articlesContainer{
    margin-top: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#commentCard{
    background-color: white;
    padding: 0;
}

.card-width{
    width: 400px;
}

.btn-floating.btn-large{
    background-image: url(../images/icons/save-file-option.svg);
    background-repeat: no-repeat;
    background-size: 58px 37px;
    background-position-y: 8px;
}

#commentButton{
    background-image: url(../images/icons/comment-white-oval-bubble.svg);
    background-repeat: no-repeat;
    background-size: 59px 42px;
    background-position-y: 6px;
}

#voteUpBtn{
    background-image: url(../images/icons/thumbs-up.svg);
    background-repeat: no-repeat;
}

#voteDownBtn{
    background-image: url(../images/icons/thumb-down.svg);
    background-repeat: no-repeat;
}

#closeBtn{
    background-image: url(../images/icons/close.svg);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    position: sticky;
    float: right;
    z-index: 1;
    top: 1px;
}

.viewCommentsBtn{
    margin-top: 80px;
    transition: ease all .5s;
    border: none;
}
.viewCommentsBtn:hover{
    transform: scale(1.05);
}
.viewCommentsBtn > li > .collapsible-header{
    background-color: #FFBB69;
    transition: ease all .5s;
    border: none;
}

.viewCommentsBtn > li > .collapsible-header:hover{
    background-color: #FF8300;
}

.collapsible-body{
    padding: 0;
    background-color: white;
}

.commentCard{
    padding: 12px !important;
}

.btnArea{
    display: flex;
    justify-content: space-around;
    width: 250px;
    float: right;
    flex-direction: row-reverse;
    margin-top: -22px;
}

.badge{
    position: absolute;
    top: 0;
    right: 0;
}

span.badge{
    color: black;
    height: 28px;
    line-height: 28px;
    font-size: 24px;
    min-width: 4rem;
}

#usernameDisplay{
    float: right;
    font-size: 18px;
    color: black;
    text-transform: inherit;
    overflow: hidden;
    width: 100%;
    margin: 0;
    text-align: right;
}

#loginForm{
    position: relative;
    width: 0%;
    left: -200px;
}

/* for smaller than tablet size  */
@media screen and (max-width: 700px){
    nav .brand-logo.right{
        display: none;
    }

 
}

/*for mobile devices*/
@media screen and (max-width: 650px){
    #savedArticleContent{
        height: 340px
    }
    
    .btnArea{
        margin-top: 24px;
        margin-bottom: 26px;
    }
}

@keyframes slideIn{
    from{
        width: 0%;
        left: -560px;
     
    }
    to{
        width: 100%;
        left: 0; 
    }
}

@keyframes slideOut{
    to{
        width: 0%;
        left: -200px;

    }
    from{
        width: 100%;
        left: 0; 
    }
}