#0f1e32
#5886af
#f4fafd
#eac77d
#b47b44


html{
    background-color: #f4fafd !important;
}
nav{
    background-color: #5886af;
}

#searchBar{
    margin-bottom: 20px;
    margin-top: 20px;
}

#searchBtn{
    color:white;
}


.row .input-field input:focus {
    border-bottom: 2px solid#205788!important;
    box-shadow: 0 1px 0 0 #205788 !important
}

.btn{
    background-color: #205788;
}

.btn:hover{
    background-color: #5886af;
}

#articleEntry{
    background-color: #205788 !important;
}

.articleLink{
    color: black !important;
    background-color: #84ABCE;
    margin-bottom: 12px
}

.publicationName{
    color: #eac77d !important;

}

.saveArticleBtn{
    background-color: #b47b44;
}

.saveArticleBtn:hover{
    background-color: #eac77d;
}



#articlesContainer{
    margin-top: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-width{
    width: 400px;
}

.btn-floating.btn-large{
    background-image: url(../images/icons/save-file-option.svg);
    background-repeat: no-repeat;
    background-size: 58px 37px;
    background-position-y: 8px;
}

#commentButton{
    background-image: url(../images/icons/comment-white-oval-bubble.svg);
    background-repeat: no-repeat;
    background-size: 59px 42px;
    background-position-y: 6px;
}

#voteUpBtn{
    background-image: url(../images/icons/thumbs-up.svg);
    background-repeat: no-repeat;

}

#voteDownBtn{
    background-image: url(../images/icons/thumb-down.svg);
    background-repeat: no-repeat;
    
}

.viewCommentsBtn{
    margin-top: 80px;
}

.btnArea{
    display: flex;
    justify-content: space-around;
    width: 250px;
    float: right;
    flex-direction: row-reverse;
    margin-top: -8px;
}

.badge{
    position: absolute;
    top: 0;
    right: 0;
}


